@*@using Vidley.Models*@
@model Vidley.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* Old ViewData Approach vvv*@
@*<h2>@( ((Movie)ViewData["Movie"]).Name )</h2>*@

@{ 
    var className = Model.Customers.Count > 5 ? "popular" : null;
}

<h2 class=@className>@Model.Movie.Name</h2>

@if (Model.Customers.Count == 0)
{
    <p>No one has rented this movie before.</p>
}
else
{
    <ul>
        @foreach (var customers in Model.Customers)
        {
            <li>@customers.Name</li>
        }
    </ul>
}

