@model Vidley.ViewModels.CustomerViewModel

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ int customerCount = 1; }
<ul>
    @foreach (var customers in Model.Customers)
    {
        string url = $"https://localhost:44309/Customers/Details/{customerCount}";
        <li><a href=@url>@customers.Name</a></li>
        customerCount += 1;
    }
</ul>